# Xcode build artifacts
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.pbxuser

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store
